<!DOCTYPE html>
<html>
<head>
	<title>Vue Component</title>
	<style>
		body {
			margin: 5%;
		}
		.text-danger{
			color: red;
			transition-duration: 5s;
  			transition-delay: 2s;
		}
	</style>
</head>
<body>
	<div id="app">
		<c-header message="haloo component" gambar="images/vue3.png"></c-header>
		<c-header message="haloo component lagii" gambar="images/vue2.png"></c-header>
		<main>
			<!-- memanggil props child&input, props berbentuk event yang namanya dari emit dan nama fungsinya yaitu hapusKelas -->
			<c-main :child="kelas" :input="kelasbaru" @hapuskelas="hapusKelas"/>
		</main>	
		<c-footer />
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script>
		Vue.component('c-header', {
			props: ['message', 'gambar'],
			template: `
			<header>
			<img style="height: 200px;border-radius: 10px;display: block;margin-bottom: 20px;" :src="gambar" alt="gambar">
			<p>ini {{message}}</p>
			</header>
			`,
			data: function(){
				return {
					pesan: 'Heloo, Component !'
				}
			}
		})

		Vue.component('c-main', {
			props: ['child', 'input'],
			template: `
			<div>
			<h5>Tambah kelas dengan enter</h5>
			<input type="text" placeholder="Masukkan Kelas" @keyup.enter="submit" v-model="input">
			<template v-if="child.length > 0">
			<ul>
			<!-- melooping data array dan memunculkannya -->
			<li v-for="(k, index) of child">{{index+1}} - {{k}}
			<!-- menghapus data menggunakan parameter index/key nya -->
			<a href="" @click.prevent="$emit('hapuskelas', index)">hapus</a>
			</li>
			</ul>				
			</template>
			<p v-else>
			<b>Belum  ada kelas, silakan tambahkan kelas</b>
			</p>
			<p class="text-danger" style="display: none">
			Berhasil menghapus data
			</p>
			</div>
			`,
			data: function(){
				
			},
			methods: {
				submit: function(e){
					this.child.unshift(this.input)
					this.input = ''
				}
			}
		})

		Vue.component('c-footer', {
			template: `
			<footer id="footer">
			<p>copyright 2021</p>			
			</footer>
			`			
		})
		const vm = new Vue({
			el: '#app',
			data: {
				kelas: ['PHP', 'Javascript'],
				kelasbaru: ''				
			},
			methods: {
				hapusKelas: function(index){
					this.kelas.splice(index, 1)
					document.getElementsByClassName('text-danger')[0].style.display = 'block'
					setTimeout(function(){
						document.getElementsByClassName('text-danger')[0].style.display = 'none'
					}, 5000)
				}
			},
			computed: {

			}
		})
	</script>
</body>
</html>