<!DOCTYPE html>
<html>
<head>
	<title>Vue Component</title>
	<style>
		body {
			margin: 5%;
		}
		.text-danger{
			color: red;
			transition-duration: 5s;
			transition-delay: 2s;
		}
		.gambar{
			width: 200px;
			border-radius: 10px;
		}
		.form-group{
			margin-bottom: 10px;
		}
		.error{
			color: red;
		}
	</style>
</head>
<body>
	<div id="app">
		<c-header message="haloo component lagii" gambar="images/vue2.png"></c-header>

		<nav>
			<router-link to="/">Home</router-link>
			<router-link to="/about">About</router-link>
			<router-link to="/kelas">Kelas</router-link>
		</nav>
		<main>
			<!-- <c-main :child="kelas" @submitkelas="submitKelas" @hapuskelas="hapusKelas"/> -->
			<!-- <router-view :child="kelas" @submitkelas="submitKelas" @hapuskelas="hapusKelas"></router-view> -->
			<router-view :child="kelas" @em-submitkelas="submitKelasParent" @hapuskelas="hapusKelas"></router-view>
		</main>	
		<c-footer />
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
	<script>
		const Home  = { template: '<div>Ini Homee</div>' }
		const About = { template: '<div>Ini About</div>' }
		const Notfound = { template: '<div>Ini halaman not found</div>' }
		const Kelas = {
			props: ['child'],
			template: `
			<div>
			<h5>Tambah kelas dengan enter</h5>
			<form @submit.prevent="submitKelasChild">						
			<div class="form-group">
			<label>Judul</label> <br>
			<input type="text" placeholder="Judul" v-model="kelas.judul">
			<div class="error" v-if="error.judul">{{error.judul}}</div>
			</div>
			<div class="form-group">
			<label>Deskripsi</label> <br>
			<textarea v-model="kelas.deskripsi"></textarea>
			<div class="error" v-if="error.deskripsi">{{error.deskripsi}}</div>
			</div>
			<div class="form-group">
			<img :src="previewimg" v-if="previewimg" width="200"/> <br>
			<label>Gambar</label> <br>
			<input type="file" ref="gambar" @change="uploadFile">
			</div>
			<br>
			<button type="submit">Tambahkan</button>
			</form>
			<template v-if="child.length > 0">
			<ul>
			<!-- melooping data array dan memunculkannya -->
			<li v-for="(k, index) of child">
			<img :src="k.gambar" alt="" class="gambar" /> <br>
			{{index+1}} - {{k.judul}} - {{k.deskripsi}}
			<!-- menghapus data menggunakan parameter index/key nya -->
			<p><a href="" @click.prevent="$emit('hapuskelas', k.id)">hapus</a></p>
			</li>
			</ul>				
			</template>
			<p v-else>
			<b>Belum  ada kelas, silakan tambahkan kelas</b>
			</p>
			<p class="text-danger" style="display: none">
			Berhasil menghapus data
			</p>
			</div>
			`,
			data: function(){
				return {
					kelas: {
						judul: '',
						deskripsi: '',
						gambar: ''
					},
					error: {
						judul: '',
						deskripsi: ''
					},
					previewimg: ''
				}
			},
			methods: {
				submitKelasChild: function(){
					if (this.kelas.judul == '') {
						this.error.judul = 'Judul is required'
					}else{
						this.error.judul = ''
					}
					if(this.kelas.deskripsi == ''){
						this.error.deskripsi = 'Deskripsi is required'
					}else{
						this.error.deskripsi = ''
					}
					if (this.kelas.judul && this.kelas.deskripsi) {
						const sendData = {
							id: uuidv4(),
							judul: this.kelas.judul,
							deskripsi: this.kelas.deskripsi,
							gambar: this.previewimg
						}
						this.$emit('em-submitkelas', sendData)

						this.kelas.judul = ''
						this.kelas.deskripsi = ''
						this.kelas.gambar = ''
						this.previewimg = ''
						this.$refs.gambar.value = ''
					}					
				},
				uploadFile: function(event){
					this.kelas.gambar = event.target.files[0].name
					this.previewimg   = URL.createObjectURL(event.target.files[0])
				}
			}
		}

		const routes = [
		{ path: '/', component: Home },
		{ path: '/about', component: About },
		{ path: '/kelas', component: Kelas },
		{ path: '*', component: Notfound}
		]

		const router = new VueRouter({
			mode: 'history',
			routes
		})

		Vue.component('c-header', {			
			props: ['message', 'gambar'],
			template: `
			<header>
			<img style="height: 200px;border-radius: 10px;display: block;margin-bottom: 20px;" :src="gambar" alt="gambar">
			<p>ini {{message}}</p>
			</header>
			`,
			data: function(){
				return {
					pesan: 'Heloo, Component !'
				}
			}
		})

		Vue.component('c-footer', {
			template: `
			<footer id="footer">
			<p>copyright 2021</p>			
			</footer>
			`			
		})
		const vm = new Vue({
			el: '#app',
			router,
			data: {
				// kelas: [
				// {id: 1, judul: 'Ini judul PHP', deskripsi: 'Ini deskripsi PHP', gambar: 'vue.png'},
				// {id: 2, judul: 'Ini judul Javascript', deskripsi: 'Ini deskripsi Javascript', gambar: 'vue2.png'},
				// {id: 3, judul: 'Ini judul CSS', deskripsi: 'Ini deskripsi CSS', gambar: 'vue3.png'},
				// ]
				kelas: []
			},
			created(){
				this.kelas = JSON.parse(localStorage.getItem('kelas')) || []
			},
			methods: {
				hapusKelas: function(id){
					this.kelas = this.kelas.filter(item => item.id != id)
					localStorage.setItem('kelas', JSON.stringify(this.kelas))
					JSON.parse(localStorage.getItem('kelas')).splice(item => item.id != id)
					document.getElementsByClassName('text-danger')[0].style.display = 'block'
					setTimeout(function(){
						document.getElementsByClassName('text-danger')[0].style.display = 'none'
					}, 5000)
				},
				submitKelasParent: function(data){
					this.kelas.push(data)
					localStorage.setItem('kelas', JSON.stringify(this.kelas))
				}
			},
			computed: {

			}
		})
	</script>
</body>
</html>